html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 10000px;
	background-color: #fffded;
	font-size: clamp(1rem, 3vw, 1.5rem);
	width: 100%;
	height: 100%;
}

.cake {
	transform-style: preserve-3d;
	transform-origin: top;
	position: relative;
}

.cake::after {
	content: url("https://toruskit.com/_app/immutable/assets/smile.66ec8f86.svg");
	position: absolute;
	width: 6em;
	top: 0;
	left: 0;
	display: block;
	transform: translate3d(-1em, 7em, -3em) rotateX(-90deg);
	transform-origin: center;
	pointer-events: none;
}

.piece {
	width: 4em;
	height: auto;
	position: relative;
	transform-style: preserve-3d;
	transform-origin: top;
	cursor: pointer;
}

.piece:not(:first-child) {
	position: absolute;
	top: 0;
	left: 0;
}

.top {
	position: relative;
	transform: scale(1.05);
	transform-origin: top;
	transform-style: preserve-3d;
}

.shadow {
	position: absolute;
	pointer-events: none;
	opacity: 0.3;
	filter: blur(2.5em);
}

.front {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	transform: rotateX(-90deg);
	transform-origin: top;
	transform-style: preserve-3d;
}

.front img:first-child {
	position: absolute;
	transform: translateZ(3px) scaleX(1.05);
	width: 100%;
}

.left,
.right {
	position: absolute;
	top: 100%;
	width: 7.7em;
}

.left {
	left: 0;
	transform: rotateZ(-75deg) rotateX(-90deg);
	transform-origin: top left;
}

.right {
	right: 0;
	transform: rotateZ(75deg) rotateX(-90deg);
	transform-origin: top right;
}

.strawberry {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1.5em;
	margin: auto;
	right: 0;
	transform-origin: bottom;
	transform-style: preserve-3d;
	transform: translate3d(0px, -1.8em, 0px) rotateX(-90deg);
}

.strawberry img:not(:first-child) {
	position: absolute;
	top: 0;
	left: 0;
}

.strawberry img:nth-child(1) {
	transform: rotateY(0deg);
}
.strawberry img:nth-child(2) {
	transform: rotateY(45deg);
}
.strawberry img:nth-child(3) {
	transform: rotateY(90deg);
}
.strawberry img:nth-child(4) {
	transform: rotateY(135deg);
}
.strawberry img:nth-child(5) {
	transform: rotateY(180deg);
}
.strawberry img:nth-child(6) {
	transform: rotateY(225deg);
}
.strawberry img:nth-child(7) {
	transform: rotateY(270deg);
}
.strawberry img:nth-child(8) {
	transform: rotateY(315deg);
}
.strawberry img:nth-child(9) {
	transform: rotateY(360deg);
}
.strawberry img:nth-child(10) {
	transform: rotateY(405deg);
}
.strawberry img:nth-child(11) {
	transform: rotateY(450deg);
}
.strawberry img:nth-child(12) {
	transform: rotateY(495deg);
}

#loader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  color: white;
  font-size: 1.5em;
  z-index: 9999;
  transition: opacity .8s ease;
}
#loader.hide {
  opacity: 0;
  pointer-events: none;
}
